.head {
    background-color: #a81d5e;
    padding: 10px 10%;
}

body {
    padding: 0;
    margin: 0;
}

.head ul {
    margin: 0;
}

.head li {
    padding: 20px;
    display: inline-block;
}

.head a {
    text-decoration: none;
    color: white;
}

.head a:hover {
    color: white !important;
}
.dropdown-toggle:hover {
    color: white;
}

.carousel-indicators {
    z-index: 1 !important;
}

.phone:hover {
    background-color: #a81d5e;
    color: white !important;
}

#display {
    display: none;
}

#display2 {
    display: none;
}
#extra-alert-message{
    display: none;
}

#more {
    display: inline-block;
}

#mob-nav-height {
    padding: 5px;
}

#mob-nav-height img{
    width: 100px;
    padding-bottom: 8px;
}

#mob-nav-height img{
    margin-left: 12px;
}

.head {
    padding: 10px;
    margin: 0;
    height: 85px;
}

#hidden-menu {
    display: inline-block;
    padding: 5px;
}

#mobile-right-navbar{
    margin-top: 6px;
    margin-left: 0px;
    float: right;
    overflow: hidden;
}

#mob-hidden-bt-menu{
    display: none;
}

#mob-show-bt-menu{
    display: inherit;
}

.custom {
    font-size: 14.3px;
}

#whatsapp-button{
    bottom: 30px;
    right: 30px;
}

#phone-button{
    bottom: 110px;
    right: 30px;
}

#carouselExampleIndicators{
    margin: 0;
}

#carousel{
    padding: 0;
}

#carousel-inner {
    width: 100%;
    border-radius: none;
}

@media screen and (min-width: 600px) {
    #display {
        display: inline-block;
    }
    #extra-alert-message{
        display: inline;
    }
    #display2 {
        display: inline-block;
    }
    #more {
        display: none;
    }
    #hidden-menu {
        display: none;
    }
    
    #mob-nav-height {
        padding: 15px;
    }
    #mob-nav-height img{
        width: 150px;
    }
    .head {
        padding: 20px 130px;
        height: auto;
    }
    #mobile-right-navbar{
        display: none;
    }
    #mob-hidden-bt-menu{
        display: inline;
    }
    #mob-show-bt-menu{
        display: none;
    }
    .custom {
        font-size: 17px;
    }
    #whatsapp-button{
        bottom: 40px;
        right: 45px;
    }
    #phone-button{
        bottom: 125px; 
        right: 45px;
    }
    #carouselExampleIndicators{
        margin: 0 15%;
    }
    #carousel{
        padding: 20px 0;
    }
    #carousel-inner {
        width: 86%;
        margin: auto;
        border-radius: 5px;
    }
    
}

@media screen and (max-width: 530px) {
    #display {
        display:none;
        margin-left: 0;
        float: right;
    }
    #extra-alert-message{
        display: none;
    }
    #more {
        display: inline-block;
    }
    #hidden-menu {
        display: inline-block;
    }
    
    #mob-nav-height img{
        width: 100px;
        padding: 0;
    }
    .head {
        padding: 5px;
    }
    #mobile-right-navbar{
        margin-left: 0;
        float: right;
        margin-top: 10px;
        display: inline;
    }
    #download {
        display: none;
    }
    #mob-hidden-bt-menu{
        display: none;
    }
    #mob-show-bt-menu{
        display: none;
    }
    .custom {
        font-size: 11px;
    }
    #whatsapp-button{
        bottom: 40px;
        right: 45px;
    }
    #phone-button{
        bottom: 125px; 
        right: 45px;
    }
    #carouselExampleIndicators{
        margin: 0 15%;
    }
    #carousel{
        padding: 20px 0;
    }
    #carousel-inner {
        width: 86%;
        margin: auto;
        border-radius: 5px;
    }
    
}

@media screen and (max-width: 360px) {
    
    #mobile-right-navbar{
        margin-left: 0;
        margin-top: 10px;
        display: none;
    }
    
    
}