.head {
    background-color: #a81d5e;
}

body {
    padding: 0;
    margin: 0;
}

.head ul {
    margin: 0;
}

.head li {
    padding: 20px;
    display: inline-block;
}

.head a {
    text-decoration: none;
    color: white;
}

.head a:hover {
    color: white !important;
}
.dropdown-toggle:hover {
    color: white;
}

.carousel-indicators {
    z-index: 1 !important;
}

.phone:hover {
    background-color: #a81d5e;
    color: white !important;
}

#display {
    display: none;
}

#display2 {
    display: none;
}
#extra-alert-message{
    display: none;
}

#loginIcon {
    display: none;
}

#more {
    display: inline-block;
}

#mob-nav-height {
    padding: 5px;
}

#mob-nav-height img{
    width: 100px;
    padding-bottom: 8px;
}

#mob-nav-height img{
    margin-left: 12px;
}

.head {
    padding: 10px;
    margin: 0;
    height: 85px;
}

#hidden-menu {
    display: inline-block;
    padding: 5px;
}

#mobile-right-navbar{
    margin-top: 6px;
    margin-left: 0px;
    float: right;
    overflow: hidden;
}

#mob-hidden-bt-menu{
    display: none;
}

#mob-show-bt-menu{
    display: inherit;
}

.custom {
    font-size: 14.3px;
}

#whatsapp-button{
    bottom: 30px;
    right: 30px;
}

#phone-button{
    bottom: 110px;
    right: 30px;
}

#carouselExampleIndicators{
    margin: 0;
}

#carousel{
    padding: 0;
}

#carousel-inner {
    width: 100%;
    border-radius: none;
}

.gradient {
    background: linear-gradient(to right, #a81d5e,#c52f75, #069cc1, #097edd);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media screen and (min-width: 600px) {
    #display {
        display: inline-block;
    }
    #extra-alert-message{
        display: inline;
    }
    #display2 {
        display: inline-block;
    }
    #more {
        display: none;
    }
    #hidden-menu {
        display: none;
    }
    #mob-nav-height {
        padding: 15px;
    }
    #mob-nav-height img{
        width: 150px;
    }
    .head {
        padding: 20px 10%;
        height: auto;
    }
    #mobile-right-navbar{
        display: none;
    }
    #mob-hidden-bt-menu{
        display: inline;
    }
    #mob-show-bt-menu{
        display: none;
    }
    .custom {
        font-size: 17px;
    }
    #whatsapp-button{
        bottom: 40px;
        right: 45px;
    }
    #phone-button{
        bottom: 125px; 
        right: 45px;
    }
    #carouselExampleIndicators{
        margin: 0 20%;
    }
    #carousel{
        padding: 20px 0;
    }
    #carousel-inner {
        width: 86%;
        margin: auto;
        border-radius: 5px;
    }  
}

@media screen and (max-width: 560px) {
    #display {
        display:none;
        margin-left: 0;
        float: right;
    }
    #extra-alert-message{
        display: none;
    }
    #more {
        display: inline-block;
    }
    #hidden-menu {
        display: inline-block;
    }
    
    #mob-nav-height img{
        width: 100px;
        padding: 0;
    }
    .head {
        padding: 5px;
    }
    #mobile-right-navbar{
        margin-left: 0;
        float: right;
        margin-top: 10px;
        display: inline;
    }
    #download {
        display: none;
    }
    #mob-hidden-bt-menu{
        display: none;
    }
    #mob-show-bt-menu{
        display: none;
    }
    .custom {
        font-size: 11px;
    }
    #whatsapp-button{
        bottom: 30px;
        right: 30px;
    }
    #phone-button{
        bottom: 110px; 
        right: 30px;
    }
    #carouselExampleIndicators{
        margin: 0;
    }
    #carousel{
        padding: 0;
    }
    #carousel-inner {
        width: 100%;
    }
    
}

/* For mobile devices - L, M, S */
@media (max-width: 430px) {
    .hideLocationText {
        display: none;
    }

    .custom {
        line-height:20px !important;
        width: 100%;
        font-size: 12px !important;
    }

    #login{
        margin-left: 0;
        margin-top: 10px;
        display: none;
    }

    #hidden-menu {
        margin-top: 3px;
    }

    .head {
        padding: 3px !important;
        height: 65px;
    }
    
    #cartBtn {
        margin-top: 0px !important;
    }
    #logo123 {
        font-size: 18px !important;
        padding: 0 !important;
        margin-bottom: 0px !important;
    }

    #cartItem {
        padding: 0px 10px;
    }
    
    #test-size {
        padding: 50px 0 !important;
    }

    #loginIcon {
        display: inline-block;
        padding: 0;
    }
    #mob-show-bt-menu {
        display: block;
        top: 65px !important;
    }
}

@media screen and (max-width: 1100px) {
    
    #display{
        display: none;
    }

    #hidden-menu {
        display: inline-block;
    }

    /* #logo123 {
        font-size: 20px !important;
    } */

    .head {
        padding: 20px 9%;
    }

    #display2 .nav-item{
        padding: 10px 5px !important;
    }

    #more {
        display: inline-block;
    }
    #extra-alert-message {
        display: none;
    }
    
}